body {
  font-family: "Open Sans", sans-serif;
}

.container {
  /* separating sections */
  padding: 60px 0px;

  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.title {
  color: #642a73;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

/* Header */
/* https://uigradients.com/ */

header {
  width: 100%;
  height: 600px;

  /* imagen de fondo con efecto de filtro */
  background: #ff0099;
  background: -webkit-linear-gradient(to right, #493240c9, #ff0099c9),
    url(../img/portada.jpg); /* agregamos aquí la imagen */
  background: linear-gradient(to right, #493240c9, #ff0099c9),
    url(../img/portada.jpg); /* agregamos aquí la imagen */

  /* background-size: especifica el tamaño de las imágenes de fondo. */
  /* cover: Cambia el tamaño de la imagen de fondo (REAJUSTA) para CUBRIR todo el contenedor, incluso si tiene que estirar la imagen o cortar un poco uno de los bordes */
  background-size: cover;

  /* background-attachment : establece si una imagen de fondo se desplaza con el resto de la página o si es fija. */
  /* fixed: la imagen de fondo que no se desplazará con la página */
  background-attachment: fixed;

  /* Mover el elem según su posición normal */
  position: relative;
  /* Note: a diferencia de absolute que posiciona desde la posición de su contenedor. https://www.w3schools.com/css/css_positioning.asp */
}

nav {
  text-align: right;
  padding: 30px 50px 0px 0px;
}

/* > hijo directo */
nav > a {
  color: white;
  font-weight: 300;
  text-decoration: none;
  margin-right: 10px;
}
nav > a:hover {
  text-decoration: underline;
}

header .header-texts {
  width: 100%;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}
/* puede ser hijo, nieto, lo que sea mientras este dentro de header-texts  */
.header-texts h1 {
  color: white;
  font-size: 50px;
}
.header-texts h2 {
  color: white;
  font-size: 30px;
  font-weight: 300;
}

.wave {
  position: absolute;
  bottom: 0px;
  width: 100%;
  /* Note no olvides, cambiarle el color desde el html */
}

/* About Us */

.container-about-us {
  display: flex;
  justify-content: space-evenly;
}

.image-about-us {
  width: 48%;
}

.about-us .content-texts {
  width: 48%;
}

.content-texts h3 {
  margin-bottom: 15px;
}

.content-texts h3 span {
  background: #4d0686;
  color: white;
  border-radius: 50%; /* para que sea redondo */
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  /* padding: 4px; */
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  margin-right: 5px;
}

.content-texts p {
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
}

/* Gallery */

.portafolio {
  background-color: #f2f2f2;
}

.portafolio-gallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.portafolio-image {
  width: 24%;
  /* height: 180px; */
  margin-bottom: 10px;

  overflow: hidden; /* para escongder el icono*/
  position: relative;
  cursor: pointer;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.portafolio-image > img {
  /* debo definir que la img tenga el mismo tamaño que su contenedor */
  width: 100%;
  height: 100%;
  /* se utiliza para especificar cómo se debe cambiar el tamaño de un <img> o <video> para que se ajuste a su contenedor. */
  /* Si usamos object-fit: cover; cortará los lados de la imagen, preservará la relación de aspecto y también rellenará el espacio */
  object-fit: cover;
  /* Note: object-fit es para imagenes, y background-size es para fondos de imagenes  */
  display: block; /* para mandar el icono y el texto abajo */
}

/* Vamos a hacer la animación: */

.gallery-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  /* Lo esconde */
  transform: scale(0);
  background: hsla(273, 91%, 27%, 0.7);
  transition: transform 0.5s;
  /* Centrar */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery-hover > img {
  width: 50px;
}

.gallery-hover > p {
  color: white;
}

/* Cuando .portafolio-image sea hover, .gallery-hover tenga estos estilos */
.portafolio-image:hover .gallery-hover {
  /* lo agranda */
  transform: scale(1);
}

/* Clients */

.cards {
  display: flex;
  justify-content: space-evenly;
}

.cards .card {
  background: #4d0686;
  width: 46%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
}

.cards .card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid white;

  object-fit: cover;
  display: block;
}

.cards .card .content-text-card {
  width: 60%;
  color: white;
}

.cards .card .content-text-card > p {
  font-weight: 300;
}

/* Our Services */

.about-services {
  background: #f2f2f2;
  padding-bottom: 30px;
}

.service-content {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
}

.service-ind {
  flex-basis: 28%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service-ind img {
  width: 90%;
  height: 200px;
}

.service-ind p {
  font-weight: 300;
  text-align: justify;
}
